[Unit]
Description=Kismet server
After=gpsd.service multi-user.target

[Service]
SuccessExitStatus=0 1
ExecStart=/usr/local/bin/kismet_service.sh
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
