[Unit]
Description=rtl_433
After=network.target auditd.service

[Service]
SuccessExitStatus=0 1
ExecStart=/usr/local/bin/rtl_433.sh
Restart=always
RestartSec=3
[Install]
WantedBy=multi-user.target
